
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f7fa;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 15px 40px;
  background-color: white;
}


.nav-links {
  list-style: none; 
  display: flex;
  gap: 30px; 
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.logo img {
  height: 40px; 
  
}

.button-nav {
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(236, 6, 6);
  border: 1px solid rgb(226, 8, 8);
  border-radius: 5px;
  cursor: pointer;
}   

.ASimple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  gap: 40px;
}

/* columna izquierda (texto) */
.text-asimple {
  flex: 1;
}

.text-asimple h2 {
  font-size: 2.5rem;
  color: #242A45;
}

.hero-asimple p {
  color: #9194A1;
  margin: 20px 0;
  line-height: 1.6;
}

/* botones */
.buttons-Asimple {
  display: flex;
  gap: 20px;
}

.btn-chrome {
  background-color: #5368DF;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.btn-firefox {
  background-color: #F7F7F7;
  color: #242A45;
  border: 1px solid #9194A1;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}


.aSimpleImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.aSimpleImage img {
  width: 100%;
  max-width: 500px; 
}


.Features {
  text-align: center;
  padding: 50px 10%;
}

.Features h2 {
  font-size: 2rem;
  color: #242A45;
}

.Features p {
  color: #9194A1;
  max-width: 600px;
  margin: 20px auto 50px;
  line-height: 1.6;
}

.features-options {
  display: flex;
  justify-content: center;
  gap: 60px; /* espacio entre botones */
  border-bottom: 1px solid #E0E0E0; /* línea gris inferior */
  padding-bottom: 10px;
}

.features-options button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #242A45;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding: 10px 0;

}


.bookmark-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bookmark-image img {
  width: 100%;
  max-width: 500px;
}

#BookmarkInOneClick {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 100px 10%;
}


.bookmark-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bookmark-text {
  flex:1;
  padding: 80px;
}
.bookmark-text h2 {
  font-size: 2rem;
  color: #242A45;
}
.bookmark-text p {
  color: #9194A1;
  margin: 20px 0;
  line-height: 1.6;
}
.bookmark-button {
  background-color: #5368DF;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}


#DownloadTheExtension {
    text-align: center;
    padding: 50px 10%;
    background-color: #f5f7fa;
}
#DownloadTheExtension h2 {
    font-size: 2rem;
    color: #242A45;
}
#DownloadTheExtension p {
    color: #9194A1;
    max-width: 600px;
    margin: 20px auto 50px;
    line-height: 1.6;
}

/* Contenedor general */
.contenedor {
  display: flex;
  max-width: 800px; /* 👈 límite de ancho */
  justify-content: center;
  margin: 0 auto;
  align-items: flex-start;
  gap: 40px;
  padding: 100px 10%;
  flex-wrap: nowrap; 
  background-color: #f5f7fa;

}

.card-chrome, .card-firefox, .card-opera {
  background-color: #fff;
  border: 1px solid #e0e0e0;  
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

/* efecto al pasar el mouse */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

/* Imagen de logo */
.card img {
  width: 60px;
  margin-bottom: 20px;
}

/* Título */
.card h3 {
  color: #242A45;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* Texto pequeño */
.card p {
  color: #9194A1;
  margin-bottom: 20px;
}

/* Botón */
.add-button {
  background-color: #ffffff;
  color: rgb(44, 17, 201);
  border: 1px solid rgb(44, 17, 201);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-button:hover {
  background-color: #4020e1;
    color: #ffffff;
}

.FAQ {
    text-align: center;
    padding: 50px 10%;
}   
.FAQ h2 {
    font-size: 2rem;
    color: #242A45;
}
.FAQ p {
    color: #9194A1;
    max-width: 600px;
    margin: 20px auto 50px;
    line-height: 1.6;
}

.hr-faq {
  width: 60%;
  border-top: 1px solid rgba(107, 102, 102, 0.4); /* 👈 línea más suave */
  margin: 30px auto;
}

.more-info-button {
    background-color: #5368DF;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
}